*{
    font-family: sans-serif;    
}

.App{
    background-color: palevioletred;
}

.img{
    max-width: 200px;
    max-height: 200px;
    border: 5px solid coral;
    border-radius: 20px;
}

.imgCard{
    max-width: 200px;
    max-height: 200px;
    border: 20px;
    border-style: inset;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

.header a{
    margin: 10px 20px
}

.container{
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid coral;
    border-radius: 50px;
    align-items: center;
    text-align: center;    
    justify-content: center;
    padding: 50px;
    margin: 50px;
}

.character{    
    padding: 20px;
    margin: 20px;
    background-color: goldenrod;
    border: thick double coral;
    border-radius: 50px;
}

.characterContainer{
    display: flex;
    flex-wrap: wrap;
    border: solid coral;
    border-radius: 50px;
    background-color: pink;
    flex-direction: column;        
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 50px;
    margin: 50px;
}

select{    
    border: 5px solid coral;
    border-radius: 2px;
    color: #555;
    font-size: inherit;
  
}

.characterContainer div{
    padding: 10px;    
    margin: 10px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

.about div{
    margin: 10px 20px;
}